<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <!-- <a href="/posts"><h1><%= blog.title %></h1></a>
      <p><%= blog.description %></p> -->
      <a href="/posts"><h1>爱情的模样</h1></a>
      <p style="padding-left:130px">就是你笑起来的样子</p>
    </div>
  </div>
</div>