<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>爱情</title>
    <!-- <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script> -->
  </head>
  <body>
    <div class="eight wide column" style="text-align:center">
      <!-- <a href="/posts"><h1>myblog</h1></a>
      <p>my first blog</p> -->
      <a href="#"><h1 style="color: #4fc08d;
          display: inline-block;
          margin: 10px 0;">爱情的模样</h1></a>
      <p style="padding-left:130px;color: #4fc08d;">依然是你笑起来的样子,一直都是,从未变过.</p>
    </div>
  </body>
</html>

